<div id="nav-container">
    <div class="container">
        <a href='#signup'><img id="logo-image" style="border:3px solid black " src="./assets/roomsurf.png "></a>
    </div>
</div>
<div class="row" "text-center">
    <div class="col-lg-4 col-lg-offset-4  col-xm-12">
        <div class="nav nav-list">
            <div class="col-lg-4 col-lg-offset-4  col-sm-12 col-xs-12  " id="bannerText">
                <h3>Welcome Back</h3>
            </div>
            <div class="sideBar">
                <h3>Login</h3>
                <div id='signup'>
                    <form name='signinForm'>
                        <div class="input-group margin-bottom-sm input-padding">
                            <span class="input-group-addon"><i class="fa fa-pencl fa-fw"></i></span>
                            <input class="form-control" ng-model="loginUser.username" type="text" placeholder="User name" required="required">
                        </div>
                        <div class="input-group input-padding">
                                <span class="input-group-addon"><i class="fa fa-ky fa-fw"></i></span>
                                <input class="form-control" ng-model="loginUser.password" type="password" placeholder="Password">
                            </div>
                        <div class="tosandSubmit">
                            <button class="submit-btn" ng-click="login()">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- footer -->
<div class="navbar navbar-fixed-bottom" role="footer" style="background-color: #f7f7f9">
    <div class="container">
        <p id="copyright-text">© 2016 RoomSurf/Adam Samaha</p>
    </div>
</div>
